.ui.cards > .card > .button {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2px;
  z-index: 1;
  background-color: transparent;
}
.ui.cards > .card > .button > .icon {
  visibility: hidden;
}
.ui.cards > .card:hover .button > .icon {
  visibility: visible;
}

.ui.label.priority-card-label {
  margin-right: 5px;
}
